/* Complemento */

.scrollspySite{
    position: relative;
    overflow: auto;
    height: 375px;
    padding: 10px;
}

/* Características do Relógio */
#datalocal{
    color: green;
    font: bold 36px Arial;
    padding: 50px;
    text-align: center;
}